Targetify/Main/.Main.swift.icloud
Targetify/.NewsPiece.swift.icloud
Targetify.xcodeproj/xcuserdata/petrostepoyan.xcuserdatad/xcschemes/xcschememanagement.plist
Targetify.xcodeproj/xcuserdata/petrostepoyan.xcuserdatad/xcdebugger/